In [1]:
list_a = [1,2,3]

print(list_a)

[1, 2, 3]

In [2]:
list_a = list_a + [4]

print(list_a)

[1, 2, 3, 4]

In [6]:
list_a = list_a

print(list_a)

[1, 2, 3, 4, 'a', 'a']

In [10]:
list_a = [1, 2, 3, 4, 'a']
# list_a [인덱스번호] = 새로운 값

list_a[2] = 410

print(list_a)
print(len(list_a))

[1, 2, 410, 4, 'a']
5

In [14]:
list_a = [1, 2, 3, 4, 'a']

list_a.append(5)

list_a.append('b')

list_a.insert(0, 111)

print(list_a)

[111, 1, 2, 3, 4, 'a', 5, 'b']

extend() 함수는 매개변수로 리스트를 입력

In [27]:
list_a = ["a", "b", "c","d"]

del list_a[0]

print(list_a)

list_a.pop()

print(list_a)

['b', 'c', 'd']
['b', 'c']

In [29]:
list_a = ["a", "b", "a", "c","d"]
list_a.remove("a")
list_a

['b', 'a', 'c', 'd']

In [34]:
tt = (10,20,30,40,50,60)
print(len(tt))
tt[0] = 100

6

TypeError: 'tuple' object does not support item assignment

In [58]:
dict_a = {
    "name" : "어벤져스 엔드게임", 
    "type" : "히어로 무비", 
    "director" : ["안소니 루소", "조 루소"], 
    "year" : 2019
}

dict_a["director"] = "김현빈"
dict_a["타노스"] = "주인공"
dict_a["토니스타크"] = "사망"

for i in dict_a:
    print(i, "-" ,dict_a[i])

del dict_a["타노스"]

dict_a.keys()
print(type(dict_a.keys()))

name - 어벤져스 엔드게임
type - 히어로 무비
director - 김현빈
year - 2019
타노스 - 주인공
토니스타크 - 사망
<class 'dict_keys'>

In [5]:
question = input("돈 얼마 있으세요?")
my_money = int(question)

if my_money == 35000:
    print("지금 해드리겠습니다")
elif my_money >= 35000:
    print("더 필요한 것 있으면 말씀해주세요")
elif my_money < 35000:
    print("꺼져주세요")
elif my_money < 35000 and my_money < 0:
    print("마이너스 값을 입력하셨습니다")
else:
    print("ERROR")

돈 얼마 있으세요? 33

꺼져주세요

In [27]:
# 날짜/시간과 관련된 기능을 가져옵니다.
import datetime

# 현재 날짜/시간을 구합니다.
now = datetime.datetime.now()

# 출력합니다.
print(now.year, "년")
print(now.month, "월")
print(now.day, "일")
print(now.hour, "시")
print(now.minute, "분")
print(now.second, "초")
print(now.microsecond, "마이크로초")

print("\n")

print(f'현재 시간: {now.year}년-{now.month}월-{now.day}일-{now.day}일-{now.hour}시-{now.minute}분-{now.second}초-{now.microsecond}마이크로초', end=" ")

2024 년
6 월
27 일
15 시
11 분
29 초
114470 마이크로초


현재 시간: 2024년-6월-27일-27일-15시-11분-29초-114470마이크로초

In [43]:
list_of_list = [
    [1, 2, 3],
    [4, 5, 6, 7],
    [8, 9]
]

print(len(list_of_list), "\n")

for items in list_of_list:
    for item in items:
        print(item)
        print(items)

3

1
[1, 2, 3]
2
[1, 2, 3]
3
[1, 2, 3]
4
[4, 5, 6, 7]
5
[4, 5, 6, 7]
6
[4, 5, 6, 7]
7
[4, 5, 6, 7]
8
[8, 9]
9
[8, 9]

In [41]:
array = ('d','d')

# 리스트에 반복문을 적용합니다.
for element in array:
    # 출력합니다.
    print(element)

d
d

In [46]:
list_of_list = [[1, 2, 3], [4, 5, 6, 7], [8, 9]]
list_of_list

for i in range(len(list_of_list)):
    print(i)
    print(list_of_list[i])

0
[1, 2, 3]
1
[4, 5, 6, 7]
2
[8, 9]

In [51]:
num1= [2,3,4,5,6,7,8,9]

num2=[1,2,3,4,5,6,7,8,9]

for tntwk in num1:
    print('\n')
    print(tntwk,"단")
    for tntwk2 in num2:
        print(tntwk,"X", tntwk2,"=",tntwk*tntwk2)

2 단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


3 단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27


4 단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36


5 단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45


6 단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54


7 단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63


8 단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72


9 단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [57]:
from collections.abc import Sequence, Iterable

def is_iterable(obj):
    return isinstance(obj, Iterable)


print(is_iterable("123"))
print(is_iterable(1111111111))

True
False

In [59]:
#리스트 컴프리헨션

a = [1,2,3,4]
result = []

for i in a:
    result.append(i*3)

print(result)

#----------------아래의 방식이 리스트 컴프리헨션

b = [1,2,3,4]
result = [num * 3 for num in b]
print(result)

[3, 6, 9, 12]
[3, 6, 9, 12]

In [62]:
num1 = [1,2,3,4]
num2 = [10,20,30,40]
result = []

for n1, n2 in zip(num1, num2):
    print(n1,n2, n1*n2)
    result.append(n1*n2)

result

#리스트컴프리헨션 방식으로

result2 = [n1*n2 for n1, n2 in zip(num1, num2)]

result2

1 10 10
2 20 40
3 30 90
4 40 160

[10, 40, 90, 160]