In [6]:
import pandas as pd
import seaborn as sns

print(pd.__version__)
print(sns.__version__)

2.2.2
0.13.2

In [10]:
iris = sns.load_dataset("iris")

iris.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [12]:
iris.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [13]:
iris.shape

(150, 5)

In [14]:
iris.info() 

#여기서 object는 알 수 없는 데이터 타입이라는 의미로 해석하면 됨
#따라서 타입 함수로 확인 후 확인 한 데이터 타입에 대해 공식문서를 찾아봐야 함

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [15]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [20]:
iris['sepal_length'].value_counts()

sepal_length
5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: count, dtype: int64

In [29]:
iris['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [28]:
#데이터 타입 찾기
type(iris['species'].value_counts())

# 관련한 공식문서 확인 https://pandas.pydata.org/docs/reference/api/pandas.Series.html

pandas.core.series.Series

In [32]:
iris['species'].value_counts().index

Index(['setosa', 'versicolor', 'virginica'], dtype='object', name='species')

In [35]:
iris['species'].value_counts().memory_usage()

48

In [36]:
df_drop = iris.drop('species', axis=1)
df_drop.head(1)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2

In [40]:
df_drop2 = iris.drop(['sepal_length', 'sepal_width'], axis=1)
df_drop2.head(1)

   petal_length  petal_width species
0           1.4          0.2  setosa

In [41]:
iris.shape, df_drop.shape, df_drop2.shape

((150, 5), (150, 4), (150, 3))

In [44]:
df_drop3 = iris.drop([0, 1, 2], axis = 0)
df_drop3.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
3           4.6          3.1           1.5          0.2  setosa

In [46]:
#여기서 포인트 
df_drop3 = iris.drop([0, 1, 2], axis = 0).reset_index(drop=True)
df_drop3.head(1)


# drop=True 옵션과 함께 reset_index()를 호출하여, 기존 인덱스를 삭제하고 새로운 연속적인 인덱스를 생성합니다.
# 즉, 삭제 후 남은 데이터프레임의 인덱스를 0부터 시작하는 새로운 인덱스로 재설정합니다.

   sepal_length  sepal_width  petal_length  petal_width species
0           4.6          3.1           1.5          0.2  setosa

In [47]:
iris.shape, df_drop.shape, df_drop2.shape, df_drop3.shape

((150, 5), (150, 4), (150, 3), (147, 5))

# 파일 입출력

In [50]:
#파일 내보내기

iris.to_csv('iris.csv')
iris.to_csv('iris2.csv', index = False) #인덱스가 없는 상태로 변환

In [52]:
iris.to_csv('./test_data/iris.csv', index = False)

OSError: Cannot save file into a non-existent directory: 'test_data'