In [13]:
# 파이썬 예외처리 방법
# SQL 연동 시 필수적으로 쓰인다
try:
    numerator = 10
    denominator = int(input("숫자를 입력하세요: "))
    result = numerator / denominator
except ZeroDivisionError: # 장애가 났을 경우를 대비
    print ("ERROR: 0으로 나눌 수 없음")
else:
    print("결과확인 : ", result)
finally:
    print("결과 생성 완료")

# 코드는 try, except, else, 그리고 finally 블록을 사용하여 예외를 처리하고 있습니다. 

# 코드 설명
        # try 블록
    # try 블록 내에서 실행하려는 코드를 포함합니다.
    # numerator = 10과 denominator = 0을 설정하고 result = numerator / denominator를 시도합니다.
    # 여기서 denominator가 0이므로, result = numerator / denominator는 ZeroDivisionError 예외를 발생시킵니다.
    
        # except 블록
    # try 블록에서 예외가 발생하면, 해당 예외를 처리하기 위해 except 블록이 실행됩니다.
    # 이 경우 ZeroDivisionError 예외가 발생하므로, except ZeroDivisionError 블록이 실행되고 "ERROR: 0으로 나눌 수 없음" 메시지가 출력됩니다.
    
        # else 블록
    # try 블록에서 예외가 발생하지 않으면 else 블록이 실행됩니다.
    
        # finally 블록
    # finally 블록은 try, except, else 블록에서 어떤 일이 발생하더라도 항상 실행됩니다.

결과확인 :  10.0
결과 생성 완료

# SQL 연결하기

## Step 1. Connect to Server

In [9]:
import os
from mysql import connector

PASSWORD= '@@Id94609460'

In [15]:
try:
    with connector.connect( #with 쓰는 이유: 보안 문제 때문에
        host = '127.0.0.1', 
        user = 'root', 
        password = PASSWORD
    ) as database:
        print(f"Database 객체 : {database}")
except connector.Error as e:
    print(e)


    # connector.connect
# : MySQL 데이터베이스에 연결을 시도합니다. host, user, password를 인자로 받습니다.
    # with 구문
# : 연결 객체를 자동으로 닫아주는 역할을 합니다. 데이터베이스 연결이 database 객체에 저장됩니다.
    # print(f"Database 객체 : {database}")
# : 연결이 성공하면 데이터베이스 객체를 출력합니다.
    # except connector.Error as e: 
#  연결 중 에러가 발생하면 에러 메시지를 출력합니다.

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x121b07c50>

## Step 2. Creating New DB

In [1]:
# 위 코드 그대로 가져온 후 가운데에 쿼리문 작성

try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD
    ) as database:
        print(f"Database 객체 : {database}")



        with database.cursor() as cursor:
            # 쿼리문 작성
            # create_db = "CREATE DATABASE book_ratings;"
            # cursor.execute(create_db)

            # 생성된 DB 확인 쿼리문 쓰기
            show_existing_db = "SHOW DATABASES;"
            cursor.execute(show_existing_db)
            for db in cursor:
                print(db)



except connector.Error as e:
    print(e)



# 코드 설명

        # 데이터베이스 연결

# try:
#     with connector.connect(
#         host='localhost', 
#         user='root', 
#         password=PASSWORD
#     ) as database:
#         print(f"Database 객체 : {database}")

# connector.connect: MySQL 데이터베이스에 연결을 시도합니다.
# host, user, password: MySQL 서버의 호스트 주소, 사용자 이름, 비밀번호를 지정합니다.
# as database: 연결 객체를 database로 참조합니다.



        # 커서 생성 및 쿼리 실행

# with database.cursor() as cursor: 
#     # 생성된 DB 확인 쿼리문 쓰기
#     show_existing_db = "SHOW DATABASES;"
#     cursor.execute(show_existing_db)
#     for db in cursor:
#         print(db)

# database.cursor() as cursor: 데이터베이스와 상호작용하기 위해 커서를 생성합니다.
# cursor.execute(query): SQL 쿼리를 실행합니다.
# SHOW DATABASES: 현재 MySQL 서버에 존재하는 모든 데이터베이스를 보여주는 쿼리입니다.
# for db in cursor: 커서에서 반환된 데이터베이스 목록을 반복하며 출력합니다.

        # 에러 처리
# except connector.Error as e:
#     print(e)

# except connector.Error as e: MySQL 연결이나 쿼리 실행 중에 발생하는 에러를 처리합니다.
# print(e): 에러 메시지를 출력합니다.


# 해설

    # 데이터베이스 연결

# localhost에 있는 MySQL 서버에 root 사용자로 비밀번호 PASSWORD를 사용하여 연결을 시도합니다. 성공적으로 연결되면 database 객체가 생성됩니다.

    # 커서 생성 및 쿼리 실행

# 연결된 데이터베이스 객체에서 커서를 생성하여 SQL 쿼리를 실행할 수 있습니다.
# 주석 처리된 CREATE DATABASE book_ratings; 쿼리는 새 데이터베이스를 생성하는 명령어입니다. 이 부분의 주석을 해제하면 데이터베이스가 생성됩니다.
# SHOW DATABASES; 쿼리를 실행하여 현재 서버에 존재하는 데이터베이스 목록을 가져옵니다.
# for db in cursor 루프를 통해 각 데이터베이스 이름을 출력합니다.

    # 에러 처리

# 데이터베이스 연결이나 쿼리 실행 중에 에러가 발생하면, 에러 메시지가 출력됩니다. 이는 디버깅에 유용합니다.
# 실행 결과 예시
# MySQL 서버에 기본적으로 생성된 데이터베이스와 새로 생성된 book_ratings 데이터베이스가 출력될 것입니다.

NameError: name 'connector' is not defined

- 특정 DB에 직접 연결하기

database = "book_ratings"

host, user, password 코드 다음에 위 코드처럼 DB 이름 적어주면 됨

## STEP 3. Creating Tables

In [19]:
# 테이블 생성 쿼리
# SQL에서 작성한 쿼리문  create_book_table 변수 안에 복붙

create_books_table = """
    CREATE TABLE books(
        id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        title VARCHAR(100),
        author VARCHAR(100),
        genre VARCHAR(100),
        release_year YEAR(4)
    );
"""


# 데이터베이스 연결 및 테이블 생성
try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD, 
        database = "book_ratings" # 특정 DB에 연결하기 -> 이것이 기존 코드와의 차이점
    ) as database:
        print(f"Database 객체 : {database}")

        # cursor object 접근 후, 위 쿼리 실행
        with database.cursor() as cursor:
            # 테이블 생성
            cursor.execute(create_books_table)
            database.commit()

            # 테이블 확인 DESCRIBE
            describe_books = "DESCRIBE books;"
            cursor.execute(describe_books)
            book_schema = cursor.fetchall()
            for column in book_schema:
                print(column)


except connector.Error as e:
    print(e)    

    # 데이터베이스 연결

# connector.connect를 사용하여 MySQL 데이터베이스에 연결합니다. 
# host, user, password, database 매개변수를 통해 데이터베이스 연결 정보를 설정합니다.
# with 문을 사용하여 데이터베이스 연결을 관리합니다. with 블록이 종료되면 연결이 자동으로 닫힙니다.
# 연결 객체는 database로 참조됩니다.

    # 테이블 생성

# with database.cursor() as cursor: 데이터베이스와 상호작용하기 위해 커서를 생성합니다. with 문을 사용하여 커서를 관리합니다.
# cursor.execute(create_books_table): create_books_table 쿼리를 실행하여 books 테이블을 생성합니다.
# database.commit(): 트랜잭션을 커밋하여 테이블 생성 작업을 영구적으로 반영합니다.

    # 테이블 구조 확인

# describe_books = "DESCRIBE books;": books 테이블의 구조를 확인하기 위한 SQL 쿼리입니다.
# cursor.execute(describe_books): describe_books 쿼리를 실행하여 테이블의 구조를 가져옵니다.
# book_schema = cursor.fetchall(): 쿼리 결과를 모두 가져와서 book_schema에 저장합니다.
# for column in book_schema: 가져온 테이블 구조를 반복하면서 각 컬럼 정보를 출력합니다.

    # 에러 처리

# except connector.Error as e: 데이터베이스 연결이나 쿼리 실행 중에 발생하는 예외를 처리합니다.
# print(e): 예외 메시지를 출력합니다.

        # 실행 흐름 요약
    # MySQL 데이터베이스에 연결을 시도합니다.
    # 연결에 성공하면 books 테이블을 생성합니다.
    # books 테이블의 구조를 확인하여 출력합니다.
    # 과정 중 에러가 발생하면 에러 메시지를 출력합니다.

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x1203c5ed0>
1050 (42S01): Table 'books' already exists

## Step 4. DATA Insertion

- 하나의 레코드 추가할 때와 다중 레코드 추가할 때 사용하는 메서드 다름

In [35]:
insert_single_record = "INSERT INTO books (id, title, author, genre, release_year)\
    VALUES (%s, %s, %s, %s, %s)"

single_record = (
    "1", "Choose Yourself! Be Happy, Make Millions, Live the Dream", "James Altucher", "self-help", "2013"
    )

In [36]:
try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD, 
        database = "book_ratings" # 이것이 기존 코드와의 차이점
    ) as database:
        print(f"Database 객체 : {database}")


        # 커서 생성 후, 쿼리 실행
        with database.cursor() as cursor:
            cursor.execute(insert_single_record, single_record)
            database.commit()

except connector.Error as e:
    print(e)


    # 이후 MySQL workbench에 들어가서 테이블 확인해보면 위 레코드가 들어간 것을 확인할 수 있음

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x121a5bb90>

- 다중 레코드 추가하기

In [7]:
insert_multiple_records = "INSERT INTO books (id, title, author, genre, release_year)\
    VALUES (%s, %s, %s, %s, %s)"

multiple_records = [
    (
        "2", 
        "Skip the Line: The 10,000 Experiments Rule and Other Surprising Advice for Reaching Your Goals",
        "James Altucher",
        "self-help",
        "2021"        
    ),
    (
        "3",
        "The Power of No: Because One Little Word Can Bring Health, Abundance, and Happiness",
        "James Altucher",
        "self-help",
        "2014"
    ),
    (
        "4",
        "The 48 Laws of Power",
        "Robert Greene",
        "self-help",
        "1998"
    ),
    (
        "5",
        "Mastery",
        "Robert Greene",
        "self-help",
        "2012"
    ),
    (
        "6",
        "The Art of Seduction",
        "Robert Greene",
        "self-help",
        "2001"
    ),
]

In [10]:
try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD, 
        database = "book_ratings" # 이것이 기존 코드와의 차이점
    ) as database:
        print(f"Database 객체 : {database}")

        # 커서 생성 후, 쿼리 실행
        with database.cursor() as cursor:
            # cursor.execute(insert_single_record, single_record) -> 다중 쿼리 시 전과는 다르게 사용 -> 아래 코드처럼
            cursor.executemany(insert_multiple_records, multiple_records)
            database.commit()

except connector.Error as e:
    print(e)


    # MySQL workbench에 들어가서 테이블 확인해보면 위 레코드들이 들어간 것을 확인할 수 있음

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x11012b510>

## Step 5. Selecting Data

In [15]:
try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD, 
        database = "book_ratings" # 이것이 기존 코드와의 차이점
    ) as database:
        print(f"Database 객체 : {database}")

        # 커서 생성 후, 쿼리 실행
        with database.cursor() as cursor:
            
            # 쿼리문 작성
            select_cols = "SELECT author, release_year From books;" # MySQL에서 쓰는 쿼리문과 같이 쓰면 됨
            cursor.execute(select_cols)
            
            # 데이터 확인 
            df = cursor.fetchall()
            for result in df:
                print(result)

except connector.Error as e:
    print(e)


# 여기서는 전에 썼던 코드들처럼  database.commit()을 쓰지 않는 이유

        # 데이터 삽입/변경 작업 (INSERT, UPDATE, DELETE 등):
    # 트랜잭션이 필요합니다.
    # 변경 사항을 영구적으로 반영하기 위해 commit()을 호출해야 합니다.

        # 데이터 조회 작업 (SELECT):
    # 데이터베이스의 데이터를 변경하지 않습니다.
    # 트랜잭션 커밋이 필요 없습니다.

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x1100f6950>
('James Altucher', 2013)
('James Altucher', 2021)
('James Altucher', 2014)
('Robert Greene', 1998)
('Robert Greene', 2012)
('Robert Greene', 2001)

### 퀴즈: select 사용자 정의 함수 만들기

- 어떤 테이블을 조회해도 깔끔하게 데이터프레임으로 만드는 함수를 만들고 테스트해보기

In [16]:
import pandas as pd
from mysql import connector

In [32]:
from tabulate import tabulate

def fetch_table_to_dataframe(password, database, query, host='localhost', user='root'):
    """
    MySQL 데이터베이스에서 데이터를 조회하여 Pandas DataFrame으로 반환하는 함수
    
    :password: MySQL 데이터베이스 비밀번호
    :database: 조회할 데이터베이스 이름
    :query: 실행할 SQL 쿼리
    :host: MySQL 서버 호스트명 (기본값: 'localhost')
    :user: MySQL 사용자명 (기본값: 'root')
    :return: 조회된 결과를 포함하는 Pandas DataFrame
    """
    try:
        # 데이터베이스 연결
        conn = connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )
        
        # 쿼리 실행 및 데이터프레임으로 변환
        df = pd.read_sql(query, conn) 
        
        # 연결 종료
        conn.close()
        
        return df
    except connector.Error as e:
        print(f"Error: {e}")
        return None

# 사용 예시
PASSWORD = '@@Id94609460'
DATABASE = 'classicmodels'
QUERY = 'SELECT * FROM CUSTOMERS;'

# 함수 호출
df = fetch_table_to_dataframe(PASSWORD, DATABASE, QUERY)

# 데이터프레임 출력
print(tabulate(df.head()))

-  ---  --------------------------  ----------  ------  ------------  ----------------------------  -------  ---------  --------  -----  ---------  ----  ------
0  103  Atelier graphique           Schmitt     Carine  40.32.2555    54, rue Royale                         Nantes               44000  France     1370   21000
1  112  Signal Gift Stores          King        Jean    7025551838    8489 Strong St.                        Las Vegas  NV        83030  USA        1166   71800
2  114  Australian Collectors, Co.  Ferguson    Peter   03 9520 4555  636 St Kilda Road             Level 3  Melbourne  Victoria   3004  Australia  1611  117300
3  119  La Rochelle Gifts           Labrune     Janine  40.67.8555    67, rue des Cinquante Otages           Nantes               44000  France     1370  118200
4  121  Baane Mini Imports          Bergulfsen  Jonas   07-98 9555    Erling Skakkes gate 78                 Stavern               4110  Norway     1504   81700
-  ---  --------------------------  ----------  ------  ------------  ----------------------------  -------  ---------  --------  -----  ---------  ----  ------

/var/folders/zk/p59k4t_16mlgf68b5hxclv6m0000gn/T/ipykernel_60494/3075362997.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

## STEP.6 update and delete

In [22]:
update_query = """
    UPDATE 
        books
    SET 
        author = 'Big J'
    WHERE 
        author = 'James Altucher'
"""

try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD, 
        database = "book_ratings" # 이것이 기존 코드와의 차이점
    ) as database:
        print(f"Database 객체 : {database}")

        # 커서 생성 후, 쿼리 실행
        with database.cursor() as cursor:
            
            # 쿼리문 작성   
            cursor.execute(update_query)
            database.commit()
            
            # 데이터 확인 
            check_query = "SELECT DISTINCT author FROM books"
            cursor.execute(check_query)

            for result in cursor.fetchall():
                print(result)

except connector.Error as e:
    print(e)

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x1173a1f10>
('Big J',)
('Robert Greene',)

In [24]:
try:
    with connector.connect(
        host = 'localhost', 
        user = 'root', 
        password = PASSWORD, 
        database = "book_ratings" # 이것이 기존 코드와의 차이점
    ) as database:
        print(f"Database 객체 : {database}")

        # 커서 생성 후, 쿼리 실행
        with database.cursor() as cursor:
            
            # 쿼리문 작성   
            delete_query = 'DELETE FROM books WHERE release_year <= 2010;' # 2010년 전 레코드 삭제
            cursor.execute(delete_query)
            database.commit()
            
            # 데이터 확인 
            check_query = "SELECT DISTINCT release_year FROM books"
            cursor.execute(check_query)

            for result in cursor.fetchall():
                print(result)

except connector.Error as e:
    print(e)

Database 객체 : <mysql.connector.connection_cext.CMySQLConnection object at 0x1203fbc10>
(2013,)
(2021,)
(2014,)
(2012,)